body {
  background-image: url(https://t4.ftcdn.net/jpg/09/10/69/25/360_F_910692550_pxiZeOHiq0eZZnS9uHaJD2lpicJB8aoI.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
img {
  width: 200px;
  margin-right: 100px;
  padding-left: 350px;
}
.edit {
  margin-right: 100px;
  padding-left: 800px;
}
