body {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20240520/pngtree-new-hd-beautiful-photo-editing-image_15804437.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
